/* Back To Top */

.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 20px;
    bottom: 20px;
    z-index: 996;
    background: #3A83BB;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    transition: all 0.4s;
}

.back-to-top i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
}

.back-to-top:hover {
    background: #53A2D3;
    color: #fff;
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}